@font-face {
    font-family: "FreePixel";
    src: url("/res/fonts/FreePixel.ttf") format("truetype");
}

body {
    background-image: url("/res/img/index/greengrid.jpg");
    background-repeat: repeat;
    font-family: "FreePixel";
}

.toplevel-container {
    background-color: black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 10px groove #0000AA;
}

@media (min-aspect-ratio: 4/3) { 
    .toplevel-container {
        width: 60vw;
    }
}
@media (max-aspect-ratio: 4/3) {
    .toplevel-container {
        width: 80vw;
    }
}

h1, h2, h3, h4, h5, h6, p  {
    color: white;
}

p {
    font-size: 16px;
}