@font-face {
    font-family: "FreePixel";
    src: url("/res/fonts/FreePixel.ttf") format("truetype");
}

body {
    background-image: url("/res/img/index/greengrid.jpg");
    background-repeat: repeat;
    font-family: "FreePixel";
}

.toplevel-container {
    background-color: black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 10px groove #0000AA;
    padding: 10px;
}

@media (min-aspect-ratio: 1/1) {
    .toplevel-container {
        width: 50vw;
    }
}
@media (max-aspect-ratio: 1/1) {
    .toplevel-container {
        width: 80vw;
    }
}

h1, h2, h3, h4, h5, h6, p, b, li, ul {
    color: white;
}

h1 {font-size: 32px;}
h2 {font-size: 24px;}

a {
    color: #54FC54
}

p, b, li{
    font-size: 17px;
}

.link-dotted-lgreen {
    border-bottom: 2px dotted #54FC54;
    text-decoration: none;
    color: #54FC54;
}

.box-dotted-lmagenta {
    border: 2px dotted #FD54FD;
    padding: 5px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code-cust {
    color: #54FC54;
    font-weight: bold;

}

.instruction-wrapper {
    border: 2px dotted #FD54FD;
    padding: 5px;
}

.instruction-button {
    background-color: #54FC54;
    transition-duration: 0.2s;
}

.instruction-button:hover {
    background-color: #d854fd;
}