.outer-contents-container {
    width: 45%;
    margin-left: 10px;
    border: 10px groove #0000AA;
}

.contents-container-button {
    background-color: #54FC54;
}

.collapsable-contents-container {
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.page-contents {
    list-style-type: circle;
}
