.oshw-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-motto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    max-width: 90%;
}

.header-title {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 32px;
    text-align: center;
}

.category-container {
    width: 90%;
    margin: 5px auto;
    /* border: 3px dotted #5555FF; */
    overflow: auto;
}

.category-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-item {
    /* max-width: 25%; */
    /* min-width: 20%; */
    display: inline-block;
}

.category-item-txt {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.category-item-img {
    aspect-ratio: 1 / 1;
    width: 40%;
    margin: 0 30%;
}

.category-item-link {
    text-decoration: none;
}

@media (min-aspect-ratio: 1/1) { 
    .category-item {
        width: 20%;
    }
}

@media (max-aspect-ratio: 1/1) { 
    .category-item {
        width: 25%;
    }
}